<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <nav>
            <ul style="list-style: none; padding: 0;">
            {% for item in site.data.navigation %}
                <li style="margin-bottom: 10px;">
                <a href="{{ item.link | relative_url }}" style="font-weight: bold; text-decoration: none;">
                    {{ item.name }}
                </a>
                </li>
            {% endfor %}
            </ul>
            <br/>
            <h2>連絡先</h2>
            <h3>kappa540000@gmail.com</h3>
            <span style="font-size: 18px; color: #1e6e86;">履歴書・職務経歴書をご希望の方はお気軽にお問い合わせください。</span>
            <br/>
            <img srcset="{{ 'assets/css/img/Kappagirl.jpeg' | relative_url }}" alt="かっぱ" style="width: 80%; height: auto;">
        </nav>
        </header>
        
      <section>

              {% if page.url contains '/projects/' %}
        <div class="project-lang-switcher">
          {% if page.url contains 'ENG_' %}
            {% assign target_url = page.url | replace: 'ENG_', '' %}
            <a href="{{ target_url | relative_url }}" class="lang-toggle-btn">
              日本語版を表示
            </a>
            <br/>
          {% else %}
            {% assign target_url = page.url | replace: '/projects/', '/projects/ENG_' %}
            <a href="{{ target_url | relative_url }}" class="lang-toggle-btn">
              Read in English
            </a>
            <br/>
          {% endif %}
        </div>
      {% endif %}

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>